*{
  background-color: rgb(243, 248, 234);
}

header{
  text-align: center;
  font-size: 30px;
  font-family: 'Bungee Shade', cursive;
  padding-bottom: 50px;
  padding-top: 30px;
}

img{
  width: 22%;
  padding: 5%;
}

canvas{
  border: 2px solid black;
  width: 400px;
  height: 400px;
}

#mallImgs{
  padding-top:;
  border: 3px solid black;
}