.change{ 
  --body-color: rgba(128, 159, 206, 0.933);
 background-color: var(--body-color);

}

canvas{
 background-color: bisque;
 width: 0px;
 height: 0px;
}

header{
  text-align: center;
  font-size: 30px;
  font-family: 'Bungee Shade', cursive;
  padding-bottom: 50px;
  padding-top: 30px;
}

main{
  width: 90%;
  text-align: center;
  position: relative;
  left: 5%;

}

img{
  width: 22%;
  padding: 5%;
}

#mallImgs{
  border: 3px solid black;

}
body{
  height: 200px;
  background-color: var(--body-color);
  
}

label{
  width: 100%;
  text-align: center;
  position: relative;
  left: 40%;
  
}
